@import url(http://fonts.googleapis.com/css?family=Russo+One|Roboto:400,700);
* {
  box-sizing: border-box;
}

body.main {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  color: white;
  line-height: 1.5;
  background: #2f2f2f;
}

h3 {
  display: inline;
}

.post-box {
  margin-top: 1rem;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  padding: 20px;
  background: white;
  color: #2f2f2f;
}

.post-date {
  font-size: .6rem;
  margin-left: .7rem;
}

.post-title a {
  color: #fff;
}

.hide {
  display: none;
}

.close-new-form {
  float: right;
  cursor: pointer;
  border-radius: 50%;
  padding: .2rem .6rem .2rem .6rem;
  background: #e28383;
  color: #fff;
  transition: all 260ms ease-in;
}

.close-new-form:hover {
  background: #ff5252;
  color: #fff;
}

.description {
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.preview-box {
  margin: 20px auto;
  background: #2f2f2f;
  padding: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
}
.preview {
  color: white;
  font-family: Arial;
  text-shadow: 1px 1px 0 black;
}

h1 {
  font-family: "Russo One", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.2;
}

a:hover {
  text-decoration: none;
}

/*TOOLIPS*/

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #f79d9d;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: rgba(#ff6262, 0.9);
}
